@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F9FBF8;
}

.bearInitial{
    height: 200px;
    width: 200px;
    /* z-index: 3; */
    padding-left: 100px;

}

.imageDiv{
   
    width: 100%;
    height: 214px;
    /* z-index: 3; */
    margin: 225px 0px 0px 0px;
}

.valentines-day-card {
    position: relative;
    width: 100%;
    height: 878px;
    background-color:  #F9FBF8;
    overflow: hidden;
    /* border: 5px solid white; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, .4); */
}

.valentines-day-card:before {
  content:"";
  position: absolute;
  background-color: #ffb3c1;
  width:100px;
  height:100px;
  border-radius:50%;
  top:680px;
  left:-25px;
  box-shadow:60px 20px #ffb3c1,130px 10px #ffb3c1, 190px 20px #ffb3c1,260px -5px #ffb3c1, 340px 20px #ffb3c1;
}

.valentines-day-card:after {
  content:"";
  position: absolute;
  background-color: #ffccd5;
  width:100px;
  height:100px;
  border-radius:50%;
  top:723px;
  left:-40px;
  box-shadow: 50px 20px #ffccd5,120px 40px #ffccd5, 200px 15px #ffccd5,260px 30px #ffccd5, 330px 30px #ffccd5,380px 10px #ffccd5;
}

.clouds {
  position: absolute;
  width:100px;
  height:100px;
  border-radius:50%;
  background-color: #ff8fa3;
  z-index:5;
  top:805px;
  left:-20px;
  box-shadow: 55px 30px #ff8fa3, 125px 10px #ff8fa3,175px 20px #ff8fa3, 250px 10px #ff8fa3, 320px 5px #ff8fa3, 380px 10px #ff8fa3;
}

.hearts {
  position: absolute;
  z-index:2;
}

.heartOne {
  position: absolute;
  left:100px;
  top:147px;
  animation: up 4s linear forwards 1s;
}

.heartTwo {
  position: absolute;
  left:270px;
  top:243px;
  animation: up 5s linear forwards 1.8s;
}

.heartThree {
  position: absolute;
  left:85px;
  top:341px;
  animation: up 5s linear forwards 3s;
}

.heartFour {
  position: absolute;
  left:320px;
  top:388px;
  animation: upTwo 9s linear infinite 6.5s;
}

.heartFive {
  position: absolute;
  left:150px;
  top:388px;
  animation: upTwo 13s linear infinite 6.5s;
}


.heartSix {
    position: absolute;
    left:380px;
    top:388px;
    animation: upTwo 14s linear infinite 6.5s;
  }
  
  .heartSeven {
    position: absolute;
    left:220px;
    top:388px;
    animation: upTwo 11s linear infinite 6.5s;
  }

  .heartEight {
    position: absolute;
    left:30px;
    top:388px;
    animation: upTwo 15s linear infinite 6.5s;
  }

.right-side:before, .right-side:after {
  position: absolute;
  content:"";
  transform-origin: left;
  animation: move 1s ease infinite;
}

.right-side:before {
  border-radius:50% 50% 50% 0;
  width:21px;
  height:20px;
  background-color: #c9184a;
  left:-0.26px;
}

.right-side:after {
  height:0;
  width:0;
  border-bottom:10px solid transparent;
  border-left: 15px solid #c9184a;
  top:19px;
  left:-0.26px;
}

@keyframes move {
  0%, 100% {transform: rotateY(0);}
  50% {transform: rotateY(-45deg);}
}

.left-side:before, .left-side:after {
  position: absolute;
  content:"";
  transform-origin: right;
  animation: move 1s ease infinite;
}

.left-side:before {
  border-radius:50% 50% 0 50%;
  width:20px;
  height:20px;
  left:-20.7px;
  background-color: #ff4d6d;
}

.left-side:after {
  height:0;
  width:0;
  left:-15px;
  border-bottom:10px solid transparent;
  border-right: 15px solid #ff4d6d;
  top:19px;
}

@keyframes up {
  0% {transform: translateY(0);}
  100% {transform: translateY(-200px);}
}

@keyframes upTwo {
  0% {transform: translateY(0);}
  100% {transform: translateY(-450px);}
}

.text {
  position: absolute;
  color: #800f2f;
  font-size:25px;
  font-family: 'Pacifico', cursive;
  line-height:1;
  text-align: center;
  width:380px;
  left:10px;
  z-index:3;
  top:635px;
  animation: up 1s ease forwards;
  transition: .2s;
}

.text2 {
    position: absolute;
    color: #800f2f;
    font-size:22px;
    font-family: 'Pacifico', cursive;
    line-height:1;
    text-align: center;
    width:380px;
    left:10px;
    z-index:3;
    top:712px;
    animation: up 1s ease forwards;
    transition: .2s;
  }

/* CSS */
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background-color: #8ce3b0;
    color: #000;
    cursor: pointer;
    border: 3px solid;
    padding: 0.25em 0.5em;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
  
  @media (min-width: 768px) {
    .button-54 {
      padding: 0.25em 0.75em;
    }
  }




/* .hover {
  color: white;
  font-family: 'Pacifico', cursive;
  text-align: center;
} */

/* .text:hover span {
  display: none;
} */

/* .text:hover:before {
  content:"Remember not to eat too much candy—you're sweet enough already.";
  font-size:25px;

} */

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  background: dimgray;
  height: 70px;
}

footer h4 {
  padding-left: 25px;
  padding-top: 15px;
}